@layer components {
  /* Base button styles */
  .ui-kit-btn {
    --btn-main-color: var(--color-blue-500);
    --btn-tertiary-color: var(--color-white);

    @apply h-max w-max;

    background-color: var(--btn-main-color);
    color: var(--btn-tertiary-color);
    font-family: var(--font-primary);
    font-size: var(--btn-font-size);
    border-radius: var(--btn-border-radius);
    gap: var(--btn-gap);
    padding: var(--btn-padding);

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
  }

  .ui-kit-btn .btn-icon {
    color: var(--btn-main-color);
    background-color: var(--btn-tertiary-color);

    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: --spacing(0.5);
  }

  /* Button variants */
  .ui-kit-btn.btn-interaction {
    --btn-main-color: var(--color-blue-500);
    --btn-tertiary-color: var(--color-white);
  }
  .ui-kit-btn.btn-muted {
    --btn-main-color: var(--color-grey-500);
    --btn-tertiary-color: var(--color-white);
  }
  .ui-kit-btn.btn-danger {
    --btn-main-color: var(--color-red-500);
    --btn-tertiary-color: var(--color-white);
  }

  /* Inverted styles */
  .ui-kit-btn.btn-inverted.btn-interaction {
    --btn-main-color: var(--color-white);
    --btn-tertiary-color: var(--color-blue-500);
  }
  .ui-kit-btn.btn-inverted.btn-muted {
    --btn-main-color: var(--color-white);
    --btn-tertiary-color: var(--color-grey-500);
  }
  .ui-kit-btn.btn-inverted.btn-danger {
    --btn-main-color: var(--color-white);
    --btn-tertiary-color: var(--color-red-500);
  }

  /* Button sizes */
  .ui-kit-btn.btn-large {
    --btn-font-size: var(--text-lg);
    --btn-border-radius: var(--radius-4);
    --btn-gap: --spacing(2);
    --btn-padding: --spacing(1.5) --spacing(2.5);
  }
  .ui-kit-btn.btn-base {
    --btn-font-size: var(--text-base);
    --btn-border-radius: var(--radius-4);
    --btn-gap: --spacing(2);
    --btn-padding: --spacing(1.5) --spacing(2.5);
  }
  .ui-kit-btn.btn-small {
    --btn-font-size: var(--text-sm);
    --btn-border-radius: var(--radius-3);
    --btn-gap: --spacing(1.5);
    --btn-padding: --spacing(1) --spacing(1);
  }
  .ui-kit-btn.btn-xs {
    --btn-font-size: var(--text-sm);
    --btn-border-radius: var(--radius-3);
    --btn-gap: --spacing(1.5);
    --btn-padding: --spacing(1) --spacing(1.5);
  }

  /* Icon-only buttons */
  .ui-kit-btn.btn-icon-only,
  .ui-kit-btn.btn-inverted.btn-icon-only {
    --btn-padding: --spacing(2);
    --btn-border-radius: var(--radius-4);
    --btn-tertiary-color: var(--color-white);
  }
  .ui-kit-btn.btn-icon-only .btn-icon {
    background-color: transparent;
    color: var(--btn-tertiary-color);
  }

  .ui-kit-btn.btn-icon-only.btn-small {
    --btn-padding: --spacing(1);
  }

  .ui-kit-btn.btn-icon-only.btn-inverted.btn-interaction {
    --btn-tertiary-color: var(--color-blue-500);
  }
  .ui-kit-btn.btn-icon-only.btn-inverted.btn-muted {
    --btn-tertiary-color: var(--color-grey-500);
  }
  .ui-kit-btn.btn-icon-only.btn-inverted.btn-danger {
    --btn-tertiary-color: var(--color-red-500);
  }

  .btn-fancy-hover {
    position: relative;
  }
  .btn-fancy-hover::before {
    content: '';
    position: absolute;
    inset: --spacing(-1);
    opacity: 0;
    background-color: var(--color-blue-500);
    z-index: -1;
    border-radius: var(--radius-5);
  }
  .btn-fancy-hover:hover {
    background: var(--stripe-blue-bg), var(--color-blue-500);
  }
  .btn-fancy-hover:hover::before {
    opacity: 1;
  }
  .btn-fancy-hover:hover {
    --btn-tertiary-color: var(--color-white);
  }
}
