@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@import 'tailwindcss';
@import '@/styles/custom-styles.css';
@import '@/styles/custom-variants.css';
@import '@/styles/animations.css';
@import '@/styles/markdown.css';

/* @source inline("bg-green-400");
@source inline("bg-blue-500");
@source inline("bg-purple-500");
@source inline("bg-pink-500");
@source inline("bg-red-500");
@source inline("bg-orange-500");

@source inline("text-green-400");
@source inline("text-blue-500");
@source inline("text-purple-500");
@source inline("text-pink-500");
@source inline("text-red-500");
@source inline("text-orange-500"); */

@theme {
  --*: initial;
  --spacing: 4px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-500: #11b7d4;
  --color-blue-400: #68d1df;
  --color-green-400: #a4c6ae;
  --color-green-300: #e4edd9;
  --color-green-200: #e8f6e7;
  --color-purple-500: #ad89d8;
  --color-purple-400: #bea0df;
  --color-pink-500: #f388a5;
  --color-pink-400: #f599b3;
  --color-red-600: #d44c4c;
  --color-red-500: #e66061;
  --color-red-400: #f97b7b;
  --color-red-300: #ffa399;
  --color-orange-500: #fbc56f;
  --color-orange-400: #f7d279;
  --color-brown-700: #744e2a;
  --color-brown-500: #b8b1a9;
  --color-brown-300: #e7e0d5;
  --color-brown-100: #f3f1ea;
  --color-grey-700: #4f4f4f;
  --color-grey-500: #959595;
  --color-grey-400: #b2b2b2;
  --color-grey-300: #d2d2d2;

  --radius-1: --spacing(1); /* 4px */
  --radius-1_5: --spacing(1.5); /* 6px */
  --radius-2: --spacing(2); /* 8px */
  --radius-2_5: --spacing(2.5); /* 10px */
  --radius-3: --spacing(3); /* 12px */
  --radius-3_5: --spacing(3.5); /* 14px */
  --radius-4: --spacing(4); /* 16px */
  --radius-4_5: --spacing(4.5); /* 18px */
  --radius-5: --spacing(5); /* 20px */
  --radius-5_5: --spacing(5.5); /* 22px */
  --radius-6: --spacing(6); /* 24px */
  --radius-6_5: --spacing(6.5); /* 26px */
  --radius-7: --spacing(7); /* 28px */
  --radius-8: --spacing(8); /* 32px */
  --radius-9: --spacing(9); /* 36px */
  --radius-10: --spacing(10); /* 40px */
  --radius-11: --spacing(11); /* 44px */
  --radius-12: --spacing(12); /* 48px */
  --radius-13: --spacing(13); /* 52px */
  --radius-14: --spacing(14); /* 56px */
  --radius-15: --spacing(15); /* 60px */
  --radius-16: --spacing(16); /* 64px */
  --radius-17: --spacing(17); /* 68px */
  --radius-18: --spacing(18); /* 72px */
  --radius-19: --spacing(19); /* 76px */
  --radius-20: --spacing(20); /* 80px */
  --radius-21: --spacing(21); /* 84px */
  --radius-22: --spacing(22); /* 88px */
  --radius-23: --spacing(23); /* 92px */
  --radius-24: --spacing(24); /* 96px */
  --radius-25: --spacing(25); /* 100px */
  --radius-26: --spacing(26); /* 104px */
  --radius-27: --spacing(27); /* 108px */
  --radius-28: --spacing(28); /* 112px */
  --radius-29: --spacing(29); /* 116px */
  --radius-30: --spacing(30); /* 120px */
  --radius-31: --spacing(31); /* 124px */
  --radius-full: 9999px;

  --shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
  --shadow-modal: 8px 8px 42.9px 0px rgba(0, 0, 0, 0.25);
  --shadow-popover: 4px 4px 6px 0px rgba(0, 0, 0, 0.16);
  --shadow-button: 3px 3px 4px 0px rgba(0, 0, 0, 0.1);

  --drop-shadow-modal: 8px 8px 42.9px rgba(0, 0, 0, 0.25);
  --drop-shadow-popover: 4px 4px 6px rgba(0, 0, 0, 0.16);

  --drop-shadow-overlay: -2px -5px 10px rgba(0, 0, 0, 0.12);
  --shadow-overlay: -2px -5px 10px -2px rgba(0, 0, 0, 0.12);

  /* Background Images */
  --diagonal-stripes: url('../assets/backgrounds/diagonal-stripes.svg');
  --saw: url('../assets/backgrounds/saw.svg');
  --wave: url('../assets/backgrounds/wave.svg');
  --bank-note: url('../assets/backgrounds/bank-note.svg');
  --aztec: url('../assets/backgrounds/aztec.svg');
  --endless-clouds: url('../assets/backgrounds/endless-clouds.svg');

  /* Transitions */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-150: 150ms;
  --duration-100: 100ms;

  /* Animations */
  --animate-bg-slide: background-slide 400ms linear infinite;

  /* Breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* Other Utilities */
  --bg-sm: --spacing(20);
  --blur-4: 4px;
  --aspect-card: 7 / 9;

  /* Typography */
  --font-primary: 'Tilt Neon', sans-serif;

  --text-sm: 12px;
  --text-sm--line-height: 133%;

  --text-base: 14px;
  --text-base--line-height: 143%;

  --text-lg: 16px;
  --text-lg--line-height: 150%;

  --text-xl: 18px;
  --text-xl--line-height: 140%;

  --text-2xl: 20px;
  --text-2xl--line-height: 140%;

  --text-3xl: 24px;
  --text-3xl--line-height: 133%;

  --text-4xl: 30px;
  --text-4xl--line-height: 120%;

  --text-5xl: 32px;
  --text-5xl--line-height: 111%;

  --text-6xl: 40px;
  --text-6xl--line-height: 100%;

  --text-7xl: 48px;
  --text-7xl--line-height: 100%;
}

@layer base {
  html {
    font-family: var(--font-primary);
    font-size: var(--text-base);
  }
}
