/* base: if no theme provided */
[data-theme] {
  --theme-primary: var(--color-blue-500);
  --theme-on-primary: var(--color-brown-100);

  --theme-secondary: var(--color-blue-400);
  --theme-on-secondary: var(--color-brown-100);

  --theme-accent: var(--color-blue-400);
  --theme-on-accent: var(--color-brown-100);

  --theme-neutral: var(--color-brown-100);
  --theme-on-neutral: var(--color-grey-900);
}

[data-theme='blue-800'] {
  --theme-primary: var(--color-blue-800);
  --theme-on-primary: var(--color-brown-100);

  --theme-secondary: var(--color-blue-400);
  --theme-on-secondary: var(--color-brown-100);

  --theme-accent: var(--color-blue-650);
  --theme-on-accent: var(--color-blue-900);

  --theme-neutral: var(--color-brown-100);
  --theme-on-neutral: var(--color-brown-500);
}

[data-theme='grey-400'] {
  --theme-primary: var(--color-grey-400);
  --theme-on-primary: var(--color-brown-100);

  --theme-secondary: var(--color-grey-300);
  --theme-on-secondary: var(--color-brown-100);

  --theme-accent: var(--color-grey-300);
  --theme-on-accent: var(--color-grey-900);
}

[data-theme='brown-100'] {
  --theme-primary: var(--color-brown-100);
  --theme-on-primary: var(--color-brown-700);

  --theme-secondary: var(--color-brown-500);
  --theme-on-secondary: var(--color-brown-700);

  --theme-accent: var(--color-brown-500);
  --theme-on-accent: var(--color-brown-700);

  --theme-neutral: var(--color-brown-500);
  --theme-on-neutral: var(--color-brown-700);
}
