@layer components {
  .teeny-input {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 6);
    border-radius: var(--radius-5);
    width: 100%;
    background-color: var(--color-white);
    font-size: var(--text-base);
  }
  .teeny-input input {
    border-bottom: 1px dashed var(--color-grey);
    color: var(--color-grey);
    font-family: var(--font-primary);
    width: 100%;
  }
  .teeny-input input:focus {
    outline: none;
  }

  .teeny-input.input-large {
    padding: calc(var(--spacing) * 4) calc(var(--spacing) * 6);
    border-radius: var(--radius-7);
  }
  .teeny-input.input-large input {
    font-size: var(--text-xl);
    font-weight: bold;
    color: var(--color-grey-dark);
    border-bottom: 1px dashed var(--color-grey-dark);
  }
}
