@layer components {
  /* Base button styles */
  .teeny-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
    user-select: none;
    cursor: pointer;
  }

  /* Sizes */
  .btn-large {
    font-size: var(--text-lg);
    border-radius: var(--radius-4);
    gap: calc(var(--spacing) * 2);
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
  }
  .btn-base {
    font-size: var(--text-base);
    border-radius: var(--radius-4);
    gap: calc(var(--spacing) * 2);
    padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
  }
  .btn-small {
    font-size: var(--text-sm);
    border-radius: var(--radius-3);
    gap: calc(var(--spacing) * 1.5);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1);
  }
  .btn-teeny {
    font-size: var(--text-sm);
    border-radius: var(--radius-3);
    gap: calc(var(--spacing) * 1.5);
    padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1.5);
  }

  /* Variants */
  .btn-interaction {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .btn-muted {
    background-color: var(--color-grey);
    color: var(--color-white);
  }
  .btn-danger {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  /* Inverted styles */
  .btn-inverted {
    background-color: var(--color-white);
  }
  .btn-inverted.btn-interaction {
    color: var(--color-blue);
  }
  .btn-inverted.btn-muted {
    color: var(--color-grey);
  }
  .btn-inverted.btn-danger {
    color: var(--color-red);
  }

  .btn-inverted .btn-icon-interaction {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .btn-inverted .btn-icon-muted {
    background-color: var(--color-grey);
    color: var(--color-white);
  }
  .btn-inverted .btn-icon-danger {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  /* Icon-only buttons */
  .teeny-btn.btn-icon-only {
    padding: calc(var(--spacing) * 2);
    border-radius: var(--radius-4);
  }
  .btn-icon-only .btn-icon {
    color: var(--color-white);
    background-color: transparent;
  }
  .btn-icon-only.btn-small {
    padding: calc(var(--spacing) * 1);
    border-radius: var(--radius-4);
  }

  .btn-inverted.btn-icon-only .btn-icon-interaction {
    color: var(--color-blue);
  }
  .btn-inverted.btn-icon-only .btn-icon-muted {
    color: var(--color-grey);
  }
  .btn-inverted.btn-icon-only .btn-icon-danger {
    color: var(--color-red);
  }

  /* Icon styles */
  .btn-icon {
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--spacing) * 0.5);
  }
  .btn-icon-interaction {
    color: var(--color-blue);
    background-color: var(--color-white);
  }
  .btn-icon-muted {
    color: var(--color-grey);
    background-color: var(--color-white);
  }
  .btn-icon-danger {
    color: var(--color-red);
    background-color: var(--color-white);
  }

  .btn-fancy-hover {
    position: relative;
  }
  .btn-fancy-hover::before {
    content: '';
    position: absolute;
    inset: calc(var(--spacing) * -1);
    opacity: 0;
    background-color: var(--color-blue);
    z-index: -1;
    border-radius: var(--radius-5);
  }
  .btn-fancy-hover:hover {
    background: var(--stripe-blue-bg), var(--color-blue);
  }
  .btn-fancy-hover:hover::before {
    opacity: 1;
  }
  .btn-fancy-hover:hover .btn-icon {
    color: var(--color-white);
  }
}
